@using MUMScrum.Web.Helpers

@model IEnumerable<MUMScrum.Model.UserStory>

@{ var count = 0;}
@foreach (var us in Model)
{
    if (count % 6 == 0)
    {
        @:        </div><div class="row-fluid hideInIE8 circleStats">
            }
    count++;

    <div class="span2" onTablet="span4" onDesktop="span2">
        <a href="~/UserStory/Edit/@us.Id">
            <div class="circleStatsItemBox @Utility.GetRandomColor(count)">
                <div class="header">@us.Title</div>
                <span class="percent">percent</span>
                <div class="circleStat">
                    <input type="text" value="@us.PercentageCompleted()" class="whiteCircle" />
                </div>

            </div>
        </a>

    </div>
}

@section Scripts {
    <script type="text/javascript">
        $('#BreadCrumMenu').html('Dashboard')
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
